/* Opinia 1 */

#opinia_1{
    height: auto;
    width: 25%;
    background-color: cyan;
    float: left;
}

#dane_1{
    width: 100%;
    text-align: center;
    height: auto;   
    margin-top: 5px;
    margin-bottom: 5px;
}

#gwiazdki {
    height: auto;
    width: 100%;
    text-align: center;
}

#tekst_opinii_1{
    height: auto;
    width: 90%;
    margin: 5%;
    text-align: center;
}

.checked {
    color: orange;
}






/* Opinia 2*/
#opinia_2{
    height: auto;
    width: 25%;
    background-color: cyan;
    float: left;
    margin-left: 20px; /*To jest zbędne, dodane tylko na potrzeby wyświetlania opinii*/
}

#box_opinii{
    width: 100%;
    height: auto;
}

#dane_2{
    width: 55%;
    text-align: left;
    height: auto;   
    float: left;
    margin-top: 20px;
    margin-left: 5px;
}

#zdjecie_opinii{
    height: 70px;
    width: 70px;
    float: left;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}


#gwiazdki_2 {
    height: auto;
    width: 55%;
    text-align: left;
    padding-bottom: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
}


#tekst_opinii_2{
    height: auto;
    width: 90%;
    margin: 5%;
    text-align: center;
}

/* To jest potrzebne, ale zostało użyte przy opini 1, dlatego komentuje żeby nie kolidowały ze sobą
.checked {
    color: orange;
}
/*




/* Opinia 3*/
#opinia_3{
    height: auto;
    width: 25%;
    background-color: cyan;
    float: left;
    margin-left: 20px; /*To jest zbędne, dodane tylko na potrzeby wyświetlania opinii*/
}

#box_opinii_3{
    height: auto;
    width: 45%;
    float: left;
}

#dane_3{
    width: 55%;
    text-align: center;
    height: auto;   
    float: inline-end;
    margin-top: 20px;
    margin-left: 5px;
}

#zdjecie_opinii{
    height: 70px;
    width: 70px;
    float: inline-start;
    border-radius: 50%;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    margin-right: 20px;
    
}


#gwiazdki_3 {
    height: auto;
    width: 55%;
    text-align: center;
    padding-bottom: 50px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-top: 10px;
    float: inline-end;
}


#tekst_opinii_3{
    height: auto;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

#box_tekst_3{
    height: auto;
    width: 50%;
    float: left;
}

/* To jest potrzebne, ale zostało użyte przy opini 1, dlatego komentuje żeby nie kolidowały ze sobą
.checked {
    color: orange;
}
/*